@model IEnumerable<ExitTask.Presentation.Areas.Admin.Models.TourListViewModel>

@{
    this.ViewBag.Title = "List";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @(this.Html.ActionLink("Create New", "Create"))
</p>
<table class="table">
    <tr>
        <th>
            @(this.Html.DisplayNameFor(model => model.Name))
        </th>
        <th>
            @(this.Html.DisplayNameFor(model => model.Description))
        </th>
        <th>
            @(this.Html.DisplayNameFor(model => model.StartDate))
        </th>
        <th>
            @(this.Html.DisplayNameFor(model => model.NightNumber))
        </th>
        <th>
            @(this.Html.DisplayNameFor(model => model.Price))
        </th>
        <th>
            @(this.Html.DisplayNameFor(model => model.RouteId))
        </th>
        <th></th>
    </tr>

@foreach (var item in this.Model) {
    <tr>
        <td>
            @(this.Html.DisplayFor(modelItem => item.Name))
        </td>
        <td>
            @(this.Html.DisplayFor(modelItem => item.Description))
        </td>
        <td>
            @(this.Html.DisplayFor(modelItem => item.StartDate))
        </td>
        <td>
            @(this.Html.DisplayFor(modelItem => item.NightNumber))
        </td>
        <td>
            @(this.Html.DisplayFor(modelItem => item.Price))
        </td>
        <td>
            @(this.Html.DisplayFor(modelItem => item.RouteId))
        </td>
        <td>
            @(this.Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })) |
            @(this.Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })) |
            @(this.Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }))
        </td>
    </tr>
}

</table>
